<h3 class="text-center">View Medicine</h3>
<hr>
<div style="position: relative; left: 40%;">
            
    <div>
        <label><strong>Medicine ID:</strong></label>{{medicine.mid}}
    </div>    
    <div>
        <label><strong><strong>Medicine Name:</strong></strong></label>{{medicine.mname}}
    </div>
    <div>
        <label><strong>Mfg. By:</strong></label>{{medicine.mfgBy}}
    </div>
    <div>
        <label><strong>Mfg. Date:</strong></label>{{medicine.mfgDate}}
    </div>
    <div>
        <label><strong>Exp. Date:</strong></label>{{medicine.expDate}}
    </div>
    <div>
        <label><strong>Price:</strong></label>{{medicine.price}}
    </div>
    <div>
        <label><strong>Qty:</strong></label>{{medicine.qty}}
    </div>
    <button (click)="goBack()" class="btn btn-success" style="position: relative; top: 20px;">Back</button>
</div>