<div class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li class="name">Day Night Pharmacy</li>
        <li class="nav-item">
            <a routerLink="medicines" routerLinkActive="active" class="nav-link">Medicine List</a>
        </li>
        <li class="nav-item">
            <a routerLink="create-medicine" routerLinkActive="active" class="nav-link">Add Medicine</a>
        </li>
    </ul>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>
<footer class="footer">
    <div class="container">
        <span>All Rights Reserved 2023 @DayNightPharmacy</span>
    </div>
</footer>